body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background:url(hikebg.jpg) no-repeat fixed;
  background-size: cover;
  text-align: center;
}
h1{
  font-size: 80px;
  text-align: center;
  color: white;
}
.box1{
  background: black;
  border: black double;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  display: inline-block;
  border-radius: 20px;
}
.box1:hover{
  background-color: green;
  transition: .2s;
}
a{
  color: white;
}
#bd1{
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 20px;
  padding: 10px;
  background: rgba(21, 11, 8,0.5);
}
